body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 1000px;
    min-width: 430px;
    width: 65%;
}

table{
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #f0fff8;

}
td{
    padding: 10px;
    border: 1px solid #80ced6;
}

h1,h3{
    font-weight: 900;
}
main{
    width: 65%;
    max-width: 100px;
    min-width: 430px;
    margin: auto;
}
p,ul{
    border: 1px solid #80ced6;
    border-radius: 10px;
    background-color: #f0fff8;
    box-sizing: border-box;
    padding: 30px;
}
ul{
    list-style-type: square;
}