/* *{
     margin: 0; 
    padding: 0;
    box-sizing: border-box;

} */

header{
    height:50px ;
    background-color: rgb(109, 214, 10);
}
body{
    margin: 0;
}
h1{
    font-size: 60px;
    font-weight: 800;

}


a{
    color: #3dd60e;
}

h1,h3,h4{
    color: #000000ce;
    
}
h3{
    font-size: 30px;
    font-weight: 800
}
h4{
    font-size: 21px;
    font-weight: 700;
}



footer{
    height: 100px;
    background-color: #1ca3b4;
}


main{
    width: 70%;
    max-width: 1140px;
    margin-inline: auto;
    font-family: "Roboto", sans-serif;
}


